{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $desktop := promptBoolOnce . "desktop" "Is this a desktop machine" -}}
{{- $minimal := promptBoolOnce . "minimal" "Minimal setup (skip build-essential and mise)" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    hostname = {{ $hostname | quote }}
    desktop = {{ $desktop }}
    minimal = {{ $minimal }}
