{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $desktop := promptBoolOnce . "desktop" "Is this a desktop machine" -}}
{{- $development := promptBoolOnce . "development" "Development environment (Homebrew, mise, nvim, etc.)" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    hostname = {{ $hostname | quote }}
    desktop = {{ $desktop }}
    development = {{ $development }}
