{{- $email := promptStringOnce . "email" "Email address" "s@tnmt.info" -}}
{{- $name := promptStringOnce . "name" "Full name" "Shinya Tsunematsu" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- $desktop := promptBoolOnce . "desktop" "Is this a desktop machine" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    hostname = {{ $hostname | quote }}
    desktop = {{ $desktop }}
