.DS_Store
.config/coc/
.config/configstore/
.config/direnv/
.config/direnv/allow/
.config/gh/
.config/github-copilot/
.config/hub
.config/karabiner/
.config/nvim/pack/
.config/op/
.config/pcamp/
.config/raycast/
.config/systemd/
.envrc
.gitconfig.default
.gitconfig.github
.ssh/*.pem
.ssh/authorized_keys
.ssh/conf.d/
.ssh/id_boot2docker
.ssh/id_boot2docker.pub
.ssh/id_dsa
.ssh/id_dsa.pb-deployer
.ssh/id_dsa.pub
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/id_rsa_*
.ssh/known_hosts
.ssh/known_hosts.old
.vim/.netrwhist
.vim/autoload
.vim/bundle
.vim/sessions
.zsh/.chpwd-recent-dirs
.zsh/.zcompdump
.zsh/.zsh_sessions/
